<div class="bs-example">
    <ul class="breadcrumb">
    	<li></li>
        <li><a href="#/projects">projects</a></li>
        <li><a href="#/projects">{{project_id}}</a></li>          	
        <li class="active">product backlog</li>
    </ul>
</div>

<div class="productbacklogdesc-content container2">
	<div class="alert alert-success project-added ng-binding ng-scope" role="alert" ng-if="newProductBacklog">
		A Sprint with id '{{ newProductBacklog }}' was saved successfully.<button class="close project-close" ng-click="removeNewProductBacklog()">x</button>
	</div> 
	<div class="tableoverflow">
		<table  class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="col-md-2">Name</th>
					<th class="col-md-4">Description</th>
					<th class="col-md-2">Priority</th>
					<th class="col-md-4">Estimation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="productbacklog in productbacklogList">
					<td>{{ productbacklog.productbacklog_name }}</td>
					<td>{{ productbacklog.user_story }}</td>
					<td>{{ productbacklog.priority }}</td>
					<td>{{ productbacklog.estimation }}</td>
				</tr>
			</tbody>
		</table>
		<div ng-show="noItemsLength(productbacklogList.length)" class="noItemsDiv">
			No items in the backlog
		</div>
    </div>
	<div class="productbacklogdesc-newbacklog">
		<a href="#/projects/{{project_id}}/productbacklog/new" class="btn btn-default">New backlog item</a>
	</div>
</div>
